# Backend
DATABASE_URL=postgresql://user:password@localhost:5432/travel_website
DUFFEL_API_KEY=your_duffel_api_key
JWT_SECRET=your_jwt_secret

# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=travel_website